body{
	background-color: white;
}

.header{
	background-color:white;
	height:10%;
	padding: 10px;
}

#navigation{
	height:100%;
}

.titel{
	background-color:white;
	height:100%;
	text-align: center;
	font-size: 5vh;
	line-height: 10vh;
}

.main{
	background-color:white;
	height:80%;
	border: 1vh solid lightgrey;
}


.footer{
	background-color:white;
	height:10%;
	padding: 10px;

}

.container-fluid{
	height: 100vh;
}

#filterButton{
	font-size: 2.5vh;
	line-height: 5vh;
}

.ampel{
	display:inline-block;
	height: 1em;
	width:1em;
	border-radius:50%;
}

.rot{
	background-color:red;
}

.gelb{
	background-color:yellow;
}

.gruen{
	background-color:green;
}

.tabellenZeile{
	vertical-align: middle;
}

.tabellenDiv{
	height:90%; 
	overflow:auto;
}

.tabellenDiv thead th{
	position:sticky;
	top:0;
	z-index:1;
	background-color:lightskyblue;
}

.unsereButtons.normalButton{
	background-color: lightgray;
	border: 2px solid black;
}	

#zurueckButton{
background-color: rgb(39, 107, 233);
}

#homeButton{
	background-color: rgb(39, 107, 233);
}

.icon{
	height:70%; 
	font-size:11vh; 
	color:black; 
	line-height: 15vh;
}

.iconText{
	font-size:2.5vh; 
	color:black;
}

.iconHolder{
	height: 100%;
	padding: 1vh;
}